nav > a > img {
  width: 70px;
}

#img-lg {
  display: none;
}

#img-md {
  width: 300px;
  margin: 0 0 15px;
}

#game {
  margin-top: 60px;
}

#board {
  border: 1px solid black;
  border-radius: 5px;
  background: black;
  height: 200px;
  margin: 0 auto;
  overflow-y:scroll;
}

#board > p {
  color: green;
  text-align: start;
  margin: 20px;
}

#btn-start {
  margin-top: 10px;
  display: inline-block;
}

#btn-print-all {
  margin-top: 10px;
  display: none;
}

body.playing #btn-start {
  display: none;
}

body.playing #btn-print-all {
  display: inline-block;
}

.btn {
  margin: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: dimgray; 
  border-radius: 5px;
}

#what {
  font-size: 2em;
  margin: 20px auto 10px;
  display: block;
  display: none;
}

body.playing #what {
  display: block;
}

.post {
  margin: 50px auto;
}

h1 {
  margin-bottom: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #img-lg {
    width: 550px;
    margin: 0 0 15px;
    display: inline;
  }
  
  #img-md {
    display: none;
  }

  .btn {
    margin: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #img-lg {
    width: 775px;
    margin: 0 0 15px;
    display: inline;
  }
}
