nav > a > img {
  width: 70px;
}

#img-lg {
  display: none;
}

#img-md {
  width: 300px;
  margin: 0 0 15px;
}

#board {
  border: 1px solid black;
  border-radius: 5px;
  background: black;
  height: 250px;
  margin: 0 auto;
  overflow-y:scroll;
}

#board > p {
  color: green;
  text-align: start;
  margin: 20px;
}

#what {
  font-size: 2em;
  margin: 20px auto 10px;
  display: block;
}
/* 
.btn {
  width: 20%;
} */

#instrucoes, #desenvolvedora, #contato {
  margin: 50px auto;
}

h1 {
  margin-bottom: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #img-lg {
    width: 550px;
    margin: 0 0 15px;
    display: inline;
  }
  
  #img-md {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #img-lg {
    width: 775px;
    margin: 0 0 15px;
    display: inline;
  }
  
  #img-md {
    display: none;
  }
}
